html
{

    overflow-y: scroll;
}

a{
	color: #3B73AF;
	outline:none;
}

body {
    font-size: 9pt;
    font-family: arial;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  COLOR: #205081;;
}


.TabBar   
{btn-default
    BORDER-TOP: #A4C1C1 1px solid;
    BORDER-BOTTOM: white 1px solid;
    BACKGROUND: #A4C1C1;
}
.UserName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #777777;
    FONT-FAMILY: arial
	
}
.PageTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #993300;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: none
}
.TopMenuTab
{
    BORDER-RIGHT: black 0.1pt solid;
    BORDER-TOP: black 0.1pt solid;
    BORDER-LEFT: white 0.1pt solid;
    BORDER-BOTTOM: white 0.1pt solid;
    BACKGROUND-COLOR: #CEC7AD
}
.TopMenuTabSelected
{
    PADDING-RIGHT: 0px;
    MARGIN: 1% 1% 0px 0px;
    PADDING-TOP: 0px;
    BACKGROUND-COLOR: #A4C1C1
}
.TopMenuTabText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: #636563;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #CEC7AD;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}
.TopMenuTabTextSelected
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    VERTICAL-ALIGN: middle;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #A4C1C1;
    TEXT-ALIGN: center;
    TEXT-DECORATION: none
}

.tabSelected
{
    PADDING: 5px;
    FONT-SIZE: 9pt;
    COLOR: #336699;
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #B0C9D9; 
    text-decoration:none;
    DISPLAY:inline;
}

.tabNotSelected
{
    PADDING: 5PX;    
    FONT-SIZE: 9pt;
    COLOR: WHITE;
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #336699; 
    DISPLAY:inline;
}



.bgLogo
{
    BORDER-BOTTOM: #669999 1px;
    BACKGROUND-COLOR: #669999
}
.topBar
{	
    BACKGROUND: #003063;
}


.textInfo
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: arial;
}

.ul-box-plain
{
   margin-left:2px;
            padding-left:0; 
}

.li-box-plain
{
     list-style:none;
     margin:5px 0 0 0;
}


.label
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: arial;
	FONT-WEIGHT:normal;
	/* */
}

.label-reg {
    font-size: 10pt;
    color:#000000;
    font-family: arial;
    font-weight: normal;
}

.label-name {
    font-weight: 700;
    font-size: 16px;
    color:#205081;
    font-family: arial;
}

.label-large-bold
{
    FONT-SIZE: 12pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: bold;
	/* */
}

.label-data-tag
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
	FONT-WEIGHT: bold;
}

.label-data
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	margin:0 0 0 0;
}

.label-green
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	margin:0 0 0 0;
}

.label-data-align-right
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	text-align: right;
}

.label-required
{
	FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/required.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left top;
	PADDING-LEFT: 12px;
}

.label-reverse 
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_reverse.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-readOnly
{    cursor: text;
	PADDING: 1px 1px 1px 1px;
	BORDER: black 2px dashed;
	FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
}

.label-heading-readOnly
{
    FONT-SIZE: 14pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_32X32_warningRedBorder.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 35px;   
	MARGIN: 0 0 15px 0;
}

/* ISIS-8140, added for Personal Information Summary screen sub-fields. */
.label-subfield
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    FONT-FAMILY: Arial, sans-serif;
}

.button-link-book
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    FONT-WEIGHT: normal;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: underline;
    BORDER: none;
    CURSOR: pointer;
    CURSOR: hand;
   	BACKGROUND-IMAGE: url(../Images/book_open.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px; 
}

.label-pictures
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/pictures.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-email
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/email.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-wrench 
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/wrench.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-pdf-icon16
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_16x16_pdf.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-excel-icon16
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_16x16_xls.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-exclamation
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/exclamation.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-exclamation-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/exclamation.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;   
}

.label-exclamation-red-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/exclamation.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;   
}


.label-warning-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_32X32_warningRedBorder.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 40px;   
}





.label-bold
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: bold;
}

.label-medium
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: 600;
}

.label-x
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
   BACKGROUND-IMAGE: url(../Images/X_mark.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-x-red
{
    FONT-SIZE: 9pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/X_mark.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-check-x
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/check_x.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-spinner
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon-ajax-16.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;	
}

.label-emptyIcon-postiion
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: 700;
	PADDING-LEFT: 10px;
}

.label-Warning
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/WarningIcon.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-Warning-red
{
    FONT-SIZE: 9pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/WarningIcon.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-Warning-red-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/WarningIcon.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;   
}

.label-Warning-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/WarningIcon.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;
}

.label-info
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    background-color: transparent;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/information.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-info-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/information.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;   
}

.label-smile
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/smile.jpg); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-add
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/add.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-copy {
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/copy.gif);
    BACKGROUND-REPEAT: no-repeat;
    BACKGROUND-POSITION: left center;
    PADDING-LEFT: 20px;
}

.label-delete
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_16x16_delete_minus.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-trash
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/trash.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-printer
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/printericon.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-find
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon_16x16_find.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-find-large
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon_79x79_search.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}
.label-gears-large
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon_50x50_gears.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-cart
{
    FONT-SIZE: 9pt;	
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon_16x16_cart.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-edit-pencil
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
    BACKGROUND-IMAGE: url(../Images/icon_16x16_editPencil.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-user
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_user.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;   
}

.label-check
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/check.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

	
.label-check-multiline
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/check.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: top left;
	PADDING-LEFT: 20px;
}

.label-blackcheck
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/black_checkmark.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-check-green
{
    FONT-SIZE: 9pt;
    COLOR: GREEN;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/check.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
}

.label-arrow
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/arrow.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 18px;    
}

.label-arrow-down
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/arrow_down.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;
	height: 18px;  
	margin-left:4px;  
}

.label-arrow-green
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/arrow.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 18px;    
}

.label-arrow-down-green
{
    FONT-SIZE: 9pt;
    COLOR: green;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/arrow_down.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 14px;    
}

.label-report
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/icon_report.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;    
}

.label-book
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/book_open.png); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-LEFT: 20px;    
}

.label-calendar-right
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/calendar.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-right: 4px;    
}

.label-calendar-left
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT: normal;
	BACKGROUND-IMAGE: url(../Images/calendar.gif); 
	BACKGROUND-REPEAT: no-repeat;
	BACKGROUND-POSITION: left center;
	PADDING-left: 18px;    
}

  /*for div labels that live in table cells*/
  .label-tableCell {
	FONT-SIZE: 10pt;
	COLOR: #003063;
	FONT-FAMILY: arial;
	margin:0 0 0 3px;
  }

/* for table cells in FERPASummary page */
.ferpalabel {
    font-size: 12px;
    color: #2b2b2b;
    font-family: arial;
    margin: 0 0 0 3px;
    vertical-align: top;
}

.labelAlerts
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: arial;
    FONT-WEIGHT: bold;
    COLOR:red;
}
.ValidationSummary
{
    BORDER-RIGHT: blue 1px solid;
    BORDER-TOP: blue 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BACKGROUND: #e0e0e0;
    BORDER-LEFT: blue 1px solid;
    COLOR: red;
    BORDER-BOTTOM: blue 1px solid;
    FONT-FAMILY: arial;
    PADDING: 2px;
}
.labelShade
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: lightgrey;
    align: left;
    valign: center
}
.labelInfo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white;
    align: left;
    valign: center
}

.WeblabelInfo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: silver;
    align: left;
    valign: center
}
.labelInfoNew
{
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial
}
.subHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    align: left;
    valign: center
}
.subHeaderNew
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    align: left;
    valign: center
}
.dataElement
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial
}
.Canvas
{
    BORDER-RIGHT: #A7B5DA 1px solid;
    BORDER-TOP: #A7B5DA 1px solid;
    BORDER-LEFT: #A7B5DA 1px solid;
    WIDTH: 600px;
    BORDER-BOTTOM: #A7B5DA 1px solid;
    POSITION: relative;
    BACKGROUND-COLOR: #CCCCCC
}

/* to be used instead of h3 */
.importantMessage
{
    COLOR: #AE0000;
    FONT-FAMILY: arial;
    font-size: 9pt;
    font-weight: bold;	
}

.important-message-margin{
	COLOR: #AE0000;
    FONT-FAMILY: arial;
    font-size: 9pt;
    font-weight: bold;	
	display: block;
	margin:7px 7px 7px 7px;
}

.legend
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial
}

.universityName
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-ALIGN: left
}
.helpArea
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial
}
.mainTable
{
    MARGIN: 0px
}
.searchBar
{
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #e5e5e5
}
.tableHeader
{
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: Arial, Helvetica, sans-serif; 
    BACKGROUND-COLOR: #205081;
    font-weight: bold;
	padding: 2px 5px 2px 5px;	
}

.tableHeader-halign-left 
{
    vertical-align: middle;
    text-align: left;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #205081;
    font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.tableHeader th 
{
    vertical-align: middle;
    text-align: center;
    FONT-SIZE: 10pt;
    COLOR: white;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #205081;
    font-weight: bold;
	padding: 2px 5px 2px 5px;
}


.tableHeader td
{
    vertical-align: middle;
    text-align: center;
}

.tableRowEvenData
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    font-weight:normal;
}

.tableRowEvenData td 
{
  vertical-align: middle;
}

.tableFooter
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial
}
.evenRowSpacer
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: arial
}
.oddRowSpacer
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.tableRowOddData
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #F0F0F0;
    font-weight:normal;
}


.tableRowOddData td 
{
    vertical-align: middle;
}

.tableCaption
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #CEC7AD
}
.frmButton
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: arial
}
.tocHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    VERTICAL-ALIGN: middle;
    CURSOR: hand;
    COLOR: #000000;
    FONT-FAMILY: arial;
    HEIGHT: 20px;
    BACKGROUND-COLOR: silver;
    TEXT-DECORATION: none
}
.closeActiveButton
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: black 1px solid;
    WIDTH: 15px;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: lightsteelblue;
    TEXT-DECORATION: none
}
.closeInactiveButton
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    FONT-SIZE: 9pt;
    BORDER-LEFT: silver 1px solid;
    WIDTH: 15px;
    COLOR: black;
    BORDER-BOTTOM: silver 1px solid;
    FONT-FAMILY: arial;
    HEIGHT: 15px;
    TEXT-DECORATION: none
}
.breadCrumbBar
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #39414A;
    FONT-FAMILY: arial;
    HEIGHT: 15px;
    BACKGROUND-COLOR: #A7B5DA;
    valign: middle
}
.MandatoryIndicator
{
    COLOR: #AE0000
}
.requiredField
{
    FONT-SIZE: 10pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial
}

.subText
{
    FONT-SIZE: 9pt;
    COLOR: black
}
.caution
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #AE0000;
    FONT-FAMILY: arial
}
.universityTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: arial;
    align: left;
    valign: center
}
.LinkText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #cccccc;
    FONT-FAMILY: Arial, arial;
    TEXT-DECORATION: underline
}
.LinkText:hover
{
    COLOR: #003399;
}
.Footer
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 11px;
    PADDING-BOTTOM: 0px;
    COLOR: #000;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial, arial;
    TEXT-ALIGN: center
}

.Footer-logo
{
	padding-top: 40px;
	width:100%;
	text-align: center;
	clear: both;
}

.FooterLinkText
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #CCCCCC;
    FONT-FAMILY: Arial, arial;
    TEXT-DECORATION: underline
}
.FooterLinkText:hover
{
    COLOR: black
}
.LinkStyle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cccccc;
    FONT-FAMILY: Arial, arial;
    TEXT-DECORATION: none
}
.LinkStyle:hover
{
    COLOR: white
}
.FooterLinkStyle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: black;
    FONT-FAMILY: Arial, arial;
    TEXT-DECORATION: underline
}
.FooterLinkStyle:hover
{
    COLOR: black
}
.tableBorder
{
    BORDER-BOTTOM: #CCCCCC 2px solid;
    BACKGROUND-COLOR: white
}
.lovResultsBodyBGColor
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #fffff0
}
.nImageClass
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-BOTTOM: white 1px solid
}
.hRefClass
{
    TEXT-DECORATION: none
}
.myLayersClass
{
    VISIBILITY: visible;
    POSITION: relative
}
.nlabelInfoNew
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial
}
.nlabelInfoNew1
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #003063;
    FONT-FAMILY: arial
}
.editTableRowData
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.MiscInfoText
{
    FONT-SIZE: 10pt;
    WIDTH: 335px;
    COLOR: black;
    FONT-FAMILY: arial;
    HEIGHT: 20px
}
.labelElement
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #e0e0e0
}
.BoldRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: arial
}
.BoldBlack
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial
}
.ItalicRed
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-STYLE: italic;
    FONT-FAMILY: arial
}
.ItalicBlack
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: arial
}
.BoldRedOddData
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.BoldBlackOddData
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.ItalicRedOddData
{
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-STYLE: italic;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.ItalicBlackOddData
{
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-STYLE: italic;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #ecf1f7
}
.colorForDottedLines
{
    COLOR: blue
}
.printClass
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: arial;
    FONT-COLOR: black
}
.dataTable
{
    TABLE-LAYOUT: fixed
}
/***********************************************************/
/***********************************************************/
/*JHU MODS for Self-Service*/
.PageDescriptionSection
{
    BACKGROUND-COLOR:#FFFFCC; 
	BORDER: solid #999999 1px; 
	padding:3px;
}

.divMessage
{
    BORDER-RIGHT: #c00000 1px solid;
    BORDER-TOP: #c00000 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    LEFT: 10px;
    VERTICAL-ALIGN: super;
    BORDER-LEFT: #c00000 1px solid;
    WIDTH: 525px;
    COLOR: red;
    BORDER-BOTTOM: #c00000 1px solid;
    FONT-FAMILY: arial;
    POSITION: absolute;
    TOP: 150px;
    HEIGHT: 65px;
    BACKGROUND-COLOR: #efefef
}
.divWelcome
{
    VISIBILITY: hidden
}
.divSecurityNote
{
    VISIBILITY: hidden
}

.pnlMessageForCookies
{
    BORDER-RIGHT: #c00000 1px solid;
    BORDER-TOP: #c00000 1px solid;
    FONT-SIZE: 9pt;
    LEFT: 10px;
    BORDER-LEFT: #c00000 1px solid;
    WIDTH: 512px;
    COLOR: red;
    BORDER-BOTTOM: #c00000 1px solid;
    FONT-FAMILY: arial;
    POSITION: absolute;
    TOP: 170px;
    HEIGHT: 35px;
    BACKGROUND-COLOR: #efefef
}
.divForBtSingIn
{
    HEIGHT: 20px;
	 VISIBILITY: hidden
}
.alertMenu
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.alertMenu A:link
{
    TEXT-DECORATION: underline
}
.alertMenu A:visited
{
    TEXT-DECORATION: underline
}
.alertMenu A:active
{
    TEXT-DECORATION: underline
}

.alertMenuRed
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: red;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.alertMenuRed A:link
{
    TEXT-DECORATION: underline;
    COLOR: red
}
.alertMenuRed A:visited
{
    TEXT-DECORATION: underline;
    COLOR: red
}
.alertMenuRed A:active
{
    TEXT-DECORATION: underline;
    COLOR: red
}

.menubar
{
    BORDER-TOP: #a4c1c1 1px solid;
    BACKGROUND: #a4c1c1;
    PADDING-BOTTOM: 0px;
    VERTICAL-ALIGN: middle;
    BORDER-BOTTOM: white 1px solid;
    HEIGHT: 0px
}

.PersonFunction
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: helvetica
}
.label-zeroStrkeThrough
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #777777;
    FONT-FAMILY: Consolas, WST_Swed, WST_Czec, Fedora, Menlo, Monaco
}

.PersonFunctionLinkCol
{
    POSITION: relative;
	left:-2px;
}

.ajaxLabelInfo
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: arial;
    align: left;
    valign: center
}
.ajaxTextBox
{
    BORDER-TOP-STYLE: solid;
    BORDER-RIGHT-STYLE: solid;
    BORDER-LEFT-STYLE: solid;
    BORDER-BOTTOM-STYLE: solid
}
.ajaxTextBoxReadOnly
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px
}
.ajaxComment
{
	COLOR: Gray;
	FONT-SIZE: 9pt;
	VISIBILITY: visible;
}
.ajaxErrorMsg
{
    FONT-WEIGHT: bold;
    VISIBILITY: visible;
    COLOR: red
}
.ajaxSaveConfirmation
{
 COLOR: #006600;
 FONT-SIZE: 9pt; 
 FONT-WEIGHT: bold;
 VISIBILITY: visible;
}
.ajaxChangedValue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: darkblue;
    FONT-FAMILY: arial
}
.ajaxDivNotificationMoveButton
{
    BACKGROUND-POSITION: left top;
    BACKGROUND-IMAGE: url(../Images/MoveButtonMouseOver.gif);
    WIDTH: 17px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 16px
}

.ajaxDivNotificationCloseButtonPressed
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../Images/CloseButtonPressed.jpg);
    WIDTH: 16px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 16px
}
.ajaxDivNotificationCloseButtonMouseOver
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../Images/CloseButtonMouseOver.jpg);
    WIDTH: 16px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 16px
}
.ajaxDivNotificationCloseButton
{
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../Images/CloseButton.jpg);
    WIDTH: 16px;
    CURSOR: hand;
    BACKGROUND-REPEAT: no-repeat;
    HEIGHT: 16px
}
.ajaxDivNotificationClose
{
    COLOR: white
}
.ajaxDivTablePlain
{
    BORDER-TOP-WIDTH: 0px;
    BORDER-LEFT-WIDTH: 0px;
    BORDER-BOTTOM-WIDTH: 0px;
    WIDTH: 100%;
    BORDER-RIGHT-WIDTH: 0px
}
.ajaxDivNotification
{
    DISPLAY: block;
    FONT-SIZE: 9pt;
    OVERFLOW: hidden;
    COLOR: #003063;
    FONT-FAMILY: arial;
    POSITION: absolute;
    BACKGROUND-COLOR: white
}
.ajaxDivNotificationRelative
{
    DISPLAY: block;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: white
}
.ajaxDivNotificationRelativeDeemphasized
{
    DISPLAY: block;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #eee
}
.ajaxDivNotificationText
{
    PADDING-RIGHT: 23px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-TOP: 2px
}
.alignTop
{
    VERTICAL-ALIGN: top
}
.north
{
    BACKGROUND: url(../Images/north.png) repeat-x 50% top
}
.east
{
    BACKGROUND: url(../Images/east.png) repeat-y right 50%
}
.south
{
    BACKGROUND: url(../Images/south.png) repeat-x 50% bottom
}
.west
{
    BACKGROUND: url(../Images/west.png) repeat-y left 50%
}
.ne
{
    BACKGROUND: url(../Images/ne.png) no-repeat right top
}
.se
{
    BACKGROUND: url(../Images/se.png) no-repeat right bottom
}
.sw
{
    BACKGROUND: url(../Images/sw.png) no-repeat left bottom
}
.nw
{
    BACKGROUND: url(../Images/nw.png) no-repeat left top
}
.nw
{
    PADDING-RIGHT: 25px;
    PADDING-LEFT: 25px;
    PADDING-BOTTOM: 25px;
    PADDING-TOP: 25px
}
.AjaxVisible
{
    VISIBILITY: visible
}
.AjaxHidden
{
    VISIBILITY: hidden
}
.AjaxSectionShrinksed
{
    HEIGHT: 50px
}
.AjaxSectionNormal
{
    HEIGHT: auto
}
.transparentControl
{
    FILTER: alpha(opacity=50);
    LEFT: 0px;
    WIDTH: 99%;
    POSITION: absolute;
    TOP: 0px;
    HEIGHT: 100%;
    BACKGROUND-COLOR: #eee;
    -moz-opacity: .50
}

.padding-large {
	padding:10px;
}

.sectionHeader
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #003366;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #F0F0F0;
    BORDER-TOP: #C0C0C0 thin solid;
	BORDER-RIGHT: #C0C0C0 thin solid; 
	PADDING:0 3px 0 3px; 
	BORDER-LEFT: #C0C0C0 thin solid; 
	BORDER-BOTTOM: #C0C0C0 thin solid;
	BORDER-WIDTH: 1px;
	margin:0 0 0 0;   
   
}

.zipScrollableDiv {
	width: 400px;
	height: 100px;
	overflow: auto;
}
.linkDescriptor
{
	FONT-SIZE: 8pt;
    FONT-FAMILY: arial;
}

.MenuLink
{
	font-weight: bold;
	font-size: 12px;
	color: black;
	font-family: Arial, arial;
	text-decoration: underline;	
}

/******************************\
* Use these styles to iconify  *
* links using ajax.            *
\******************************/
.icon-none-16-right {
	font-family: arial;
    font-style: normal;
    font-weight: normal;
}
.icon-none-16-right a {
	margin-right: 18px;
}

.icon-talk-16-right {
	background-image: url(../Images/icon-talk-16.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}
.icon-talk-16-right a {
	margin-right: 18px;
}
.icon-ajax-16-right {
	background-image: url(../Images/icon-ajax-16.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.ajax-16-right {
	background-image: url(../Images/icon-ajax-16.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
}

.icon-ajax-16-right-label {
	background-image: url(../Images/icon-ajax-16.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
	FONT-WEIGHT:normal;
}

.icon-ajax-16-right a {
	margin-right: 18px;
}

.icon-ajax-16-left-padded {
	background-image: url(../Images/icon-ajax-16.gif);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-left: 18px;
}

.icon-ajax-16-left a {
	margin-left: 18px;
}

/******************************\
* Telerik RadMenu w/ Opera bug *
\******************************/
.radmenu-container-outer {
	position: relative;
	height: 26px;
	clear: both;
}
.radmenu-container-inner {
	position: absolute;
}

.sympaEmailPopupSaveCancel
{
	FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #003063;
    FONT-FAMILY: arial;
    margin-right: 2px;
    margin-left: 2px;
    align: left;
    valign: center
}

.tableBorderForSectionHeader
{
	BORDER-TOP: #C0C0C0 thin solid;
	BORDER-RIGHT: #C0C0C0 thin solid; 
	PADDING-BOTTOM: 2px; 
	BORDER-LEFT: #C0C0C0 thin solid; 
	BORDER-BOTTOM: #C0C0C0 thin solid;
	BORDER-WIDTH: 1px;
	WIDTH:100%;
}
.sectionHeaderWithButtomBorder
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    padding:0 0 0 3px;
    COLOR: #003366;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #F0F0F0;
    BORDER-bottom: solid 1px #C0C0C0;
    margin:0 0 0 0;   
}

.sectionHeaderWithBorder
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 15px;
    COLOR: #003366;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #F0F0F0;
    BORDER: #C0C0C0 thin solid;
    BORDER-WIDTH: 1px;
    width:100%;
}

.section-Header-tab
{
    /*FONT-WEIGHT: bold;*/
    FONT-SIZE: 13px;
    padding:0 0 0 3px;
    COLOR: #003366;
    FONT-FAMILY: arial;
    /*BACKGROUND-COLOR: #F0F0F0;*/
    background-image: url(../Images/section-header.png);
    BORDER-bottom:  solid 1px #C0C0C0;
    BORDER-right:  solid 1px #C0C0C0;
    margin:0 0 0 0;   
}

.box-border {
	BORDER-TOP: solid 1px #B9C9D9;
	BORDER-RIGHT:solid 2px  #B9C9D9; 
	BORDER-LEFT: solid 2px #B9C9D9; 
	BORDER-BOTTOM: solid 2px #B9C9D9;
	margin-bottom: 15px;
}

.box-margin-small {
	margin: 3px 3px 3px 3px;
	display:block;
}

.box-margin-medium {
   margin: 6px 6px 6px 6px; 
   display:block;
}
        
.inner-box {
	padding: 2px 5px 5px 5px;
}
        
.box-border-title {
	background:#B0C9D9  url(../images/section-header.png);
 	height:23px;
 	line-height:23px;
 	padding:0 5px;
	color:#014274;
	font-family:Arial, Helvetica, sans-serif;  
	font-size:13px;
	font-weight:600;
	border-bottom:solid 1px #B9C9D9;
	margin:0 0 0 0;
   } 
   
.box-border-title-icon 
{
    margin:0 3px 0 3px; 
    vertical-align: middle;
    border:0; 
    
}    
   
.label-popup {
    FONT-SIZE: 9pt;
    COLOR: gray;
    FONT-FAMILY: arial;

}  

.table-dataView 
{
    border: solid 1px white;
    border-spacing: 1px;

}

.table-dataView td 
{
    padding: 2px 2px 2px 2px;
    border: solid 1px white;
    border-spacing: 1px;
}

.table-dataView th 
{
    padding: 5px 2px 5px 2px;
    border: solid 1px white;
    border-spacing: 1px;
}
 

.table-box-border-title {
	background:#B0C9D9  url(../images/section-header.png);
 	height:23px;
 	line-height:23px;
 	padding:0 5px;
	color:#014274;
	font-family:Arial, Helvetica, sans-serif;  
	font-size:13px;
	font-weight:600;
	border-bottom:solid 1px #B9C9D9;
	margin: 0 0 0 0;
	
   } 
   
   

.subFormButtons
{
	HEIGHT: 20px;
}

.form-control-valign-middle 
{
    vertical-align:middle;
}

.dropDownListWidth
{
	WIDTH:200px;
}

.greyboxfilled 
{
 	border: 1px solid #ddd;
    background: #f0f0f0;
    padding: 3px;
	margin: 1px 1px 10px 1px;
}

.error
{
	background-color:#F0F0F0;
	border: solid #cc0000 2px;
	padding: 3px;
	color:#CC0000;
}

.smalltext 
{
    color: #666666;
    font-size: 10px;
}


.small-font-info-link
{
	FONT-SIZE: 10px;
	color: #336699;
}

.info-link-div {
	background-image: url(../images/information.gif);
	background-repeat: no-repeat;
	background-position: middle left;
	padding:0 0 0 20px;
	margin: 0 0 0 3px;
	height: 15px;
}

.bluebutton {
    color:#FFFFFF;
   font-family:helvetica,sans-serif;
   font-size: 8pt;
   font-weight:bold;
   background-color:#003063;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 10px;
   padding-right: 10px;
   }
   
   .bluebuttonDisabledLook
{
	MARGIN-RIGHT: 5px;
	BORDER-RIGHT: black 1px dashed;
	BORDER-TOP: black 1px dashed;
	BORDER-LEFT: black 1px dashed;
	BORDER-BOTTOM: black 1px dashed;
	background-image: url(../Images/icon-ajax-16.gif);
	background-repeat: no-repeat;
	background-position: middle left;
}
   
#DGAlerts{
	border: 1px solid #CCCCCC;
}
#DGAlerts td{
	padding: 5px;
	border: 1px solid #CCCCCC;
}
#DGAlerts th{
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.note
{
	border-style: solid; 
	border-width: 1px; 
	border-color: #F0C000; 
	background-color: #FFFFCE; 
	text-align:left; 
	margin-top: 5px; 
	margin-bottom: 5px;
	padding: 3px;
}

.inlineForm-headerRow {
	background-color: #FFFFCE; 
}


.inlineForm-newRow 
{
  	BORDER-RIGHT:solid 2px  Navy; 
	BORDER-LEFT: solid 2px Navy; 
	BORDER-TOP:solid 2px  Navy; 
	BORDER-BOTTOM: solid 2px Navy;
}

.inlineForm-newRow-noborder 
{
    BORDER-RIGHT: none; 
    BORDER-LEFT: none; 
    BORDER-TOP: none; 
    BORDER-BOTTOM: none;
}
  
 .left-border-blue{
	 border-left: solid 2px #003366;	
	
 }
 
.table-rollupRow {
	background-color: #DDEEFF;
	FONT-SIZE: 12px;
	COLOR: #003366;
	FONT-FAMILY: arial;
	height: 30px;
}

.facultyNote  {
	border-style: solid; 
	border-width: 1px; 
	border-color: gray; 
	background-color: #ecf1f7; 
	text-align:left; 
	margin-top: 5px; 
	margin-bottom: 0px;
	padding: 3px;
}

.aspTextBoxNoScroll {
	OVERFLOW:auto;
}

/*Modal Popup*/
.modalBackground {
	background-color:#003063;
	filter:alpha(opacity=30);
	opacity:0.8;
}
.modalPopup img {
	border:solid 5px #fff;
}
.modalPopup-text {
	display:block;
	color:#000;
	background-color:#fff;
	text-align:center;
	border:solid 2px #000;
	padding:10px;
}


/* Ajax Autocomplete */
.autocomplete_completionListElement 
{ 
visibility : hidden;
position:absolute; 
margin : 0px!important;
background-color : white;
color : #003063;
border : buttonshadow;
border-width : 1px;
border-style : solid;
padding:0px;
cursor : 'default';
overflow : auto;
height : 100px;
text-align : left; 
list-style-type : none;
FONT-SIZE: 9pt;
}

/* AutoComplete highlighted stuff */
  div.autocomplete {
      margin:0px;  
      padding:0px;  
      width:250px;
      background:white;
      border:1px solid #888;
      position:absolute;
    }

    div.autocomplete ul {
      margin:0px;
      padding:0px;
      list-style-type:none;
      
    }

    div.autocomplete ul li.selected { 
      background-color:#ffb;
    }

    div.autocomplete ul li {
      margin:0;
      padding:2px;
      display:block;
      list-style-type:none;
      cursor:pointer;
      font: 11px Lucida Grande, Verdana, Arial, Helvetica, sans serif; 
    }

/* Disabled Text Box*/
.disabledTextBox
{
	background-color: transparent ;
	border-style: none;
    FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	font-style: normal;
	COLOR: #A4A4A4; 
	}
	
.disabledLinkButton
{
	background-color: transparent ;
	border-style: none;
    FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	font-style: normal;
	text-decoration: underline;
	COLOR: #A4A4A4; 
	pointer-events: none;
    cursor: not-allowed;
	}

.disabledDropDownList
{
	background-color: white ;
	border-style : solid;
    FONT-SIZE: 9pt;
	FONT-WEIGHT: bold;
	font-style: normal;
	COLOR: #A4A4A4; 
	}

.panel-heading.smallPadding
{
	padding: 3px 3px 3px 6px;
	text-align: left;
	}
	
.panel-body.smallPadding
{
	padding: 6px 6px 6px 3px;
	text-align: left;
	}

.systemAnnounce.bs-callout.bs-callout-info.oneBorder
{
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	}



/** SELF-4981 **/
.row { 
    display: table; 
} 

.row [class*="col-"] { 
    float: none; 
    display: table-cell; 
    vertical-align: top; 
} 

/*END JHU MODS for Self-Service*/
/***********************************************************/
/***********************************************************/

.portalCourseNameSmall
{
	color:Gray;
	font-size:x-small;
}

.portalScheduleLocationText
{
	font-style:italic;	
}

.portalScheduleToday
{
	color:Red;
}

.portalScheduleTableRowEvenData
{
    FONT-SIZE: 9pt;
    FONT-FAMILY: arial;
    font-weight:normal;
}

.portalScheduleTableRowEvenData td 
{
  vertical-align: top;
}

/***********************************************************/
/***********************************************************/

.FERPAGeneral 
{
    font-weight: bold;
    font-style: italic;
}

.FERPAPhoto
{
  border: thick red solid;
}

.FERPAMessageBox
{
    padding-bottom:5px;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    margin-bottom:5px;
}

/*************************************************************/
.class-details-cell
{
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*************************************************************/

.toppad {
    margin-top: 20px;
}

.overlay-spinner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    background-image: url(../Images/hd-spinner.gif);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 9999;
    opacity: 0.8;
    filter: alpha(opacity=80);
}